.hourly-weather-block {
    .block-style();
    & h2 {
        .h2-style();
    }
    & table {
        width: 90%;
        margin: 0 auto;
        color: @text-main-color;
        font-weight: bold;
        & td {
            padding: 20px;
            text-align: center;
        }
        & .bordered td {
            border-bottom: 1px solid #d4d4d4;
        }
        & tr td:first-child {
            color: @text-default-color;
            font-weight: normal;
            text-align: start;
        }
        & tr:first-child td:first-child {
            color: @text-main-color;
            font-weight: bold;
        }
        & tr:last-child td {
            padding-bottom: 50px;
        }
        & .images td{
            padding: 0;
            & img {
                width: 70%;
            }
        }
    }
}
